force-app/main/default/flows/SLA_Deadline_Calculation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Sla_For_High</name>
        <label>Set Sla For High</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Response_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_High_Response_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_Resolution_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_High_Resolution_Deadline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_with_SLA_Deadline_High</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sla_For_Low</name>
        <label>Set Sla For Low</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Response_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Low_Response_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_Resolution_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Low_Resolution_Deadline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_with_SLA_Deadline_Low</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sla_For_Medium</name>
        <label>Set Sla For Medium</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Response_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Medium_Response_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SLA_Resolution_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_Mediom_Resolution_Deadline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_with_SLA_Deadline_Medium</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Priority_Decision</name>
        <label>Priority Decision</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sla_For_High</targetReference>
            </connector>
            <label>High priority</label>
        </rules>
        <rules>
            <name>Medium_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sla_For_Medium</targetReference>
            </connector>
            <label>Medium priority</label>
        </rules>
        <rules>
            <name>Low_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sla_For_Low</targetReference>
            </connector>
            <label>Low priority</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_High_Resolution_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.3333</expression>
    </formulas>
    <formulas>
        <name>F_High_Response_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.1667</expression>
    </formulas>
    <formulas>
        <name>F_Low_Resolution_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2</expression>
    </formulas>
    <formulas>
        <name>F_Low_Response_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>F_Mediom_Resolution_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>F_Medium_Response_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.3333</expression>
    </formulas>
    <interviewLabel>SLA Deadline Calculation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLA Deadline Calculation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Record_with_SLA_Deadline_High</name>
        <label>Update Case Record with SLA Deadline High</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>SLA_Resolution_Deadline__c</field>
            <value>
                <elementReference>F_High_Resolution_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Response_Deadline__c</field>
            <value>
                <elementReference>F_High_Response_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_with_SLA_Deadline_Low</name>
        <label>Update Case Record with SLA Deadline Low</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>SLA_Resolution_Deadline__c</field>
            <value>
                <elementReference>F_Low_Resolution_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Response_Deadline__c</field>
            <value>
                <elementReference>F_High_Response_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_with_SLA_Deadline_Medium</name>
        <label>Update Case Record with SLA Deadline Medium</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>SLA_Resolution_Deadline__c</field>
            <value>
                <elementReference>F_Mediom_Resolution_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Response_Deadline__c</field>
            <value>
                <elementReference>F_Medium_Response_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Priority_Decision</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED( {!$Record.Priority} )</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
